html {
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  color: var(--textcolor);
  overflow-x: hidden;
}

:root {
--primary:#E16C5B;
--textcolor:#462C2F;
--background:#723E46;
}

nav {
  padding: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87vw;
}

#navlogo {
  max-width: 15vh;
  height: auto;
  padding-left: 16.2vw;
  filter:brightness(100);
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 4vh;
  font-size: 2.3vh;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: transform 0.2s;
  display: inline-block;
}

nav li::after {
  content: attr(data-after);
  display: inline-block;
  transform: translateY(20%);
  position: absolute;
  left: 0;
  transition: inherit;
}

nav a {
  display: inline-block;
  transform: translateY(0%);
  transition: inherit;
  text-decoration: none;
}

nav li:hover a {
  transform: translateY(-20%);
  color: var(--primary);
}

nav li:hover::after {
  transform: translateY(0%);
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

#socialmedia {
  position: absolute;
  display:flex;
  flex-direction: column;
  padding-left: 45px;
}

#socialmedia li {
  margin-bottom: 14px;
  transition: ease 0.3s;
}

#backrectangle {
  padding: 38rem 90vw 0 0;
  background-color: var(--background);
  opacity: 90%;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  margin: 0;
  border-bottom-left-radius: 10vh;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 14vh;
  line-height: 1;
  padding: 0;
  margin-top: 5vh;
  color: #fff;
}

#coloredword {
  color: var(--primary);
}

header {
  display: flex;
  width: 100%;
  padding: 0 23vw 0 0;
  width: 80vw;
  padding-left: 17.5vw;
}

#illustration {
  width: 55vh;
  height: auto;
  margin-left: 10vw;
  padding: 0;
  transform: rotate(200deg);
  position: relative;
  top: 30px;
  right: 80px;
}
¨
/*La siguiente animación para el elemento .cta fue tomada de una página web con recursos gratis para animaciones css*/
.cta {
  position: absolute;
  padding: 5vh;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 28px;
  background: rgba(211, 105, 89, 0.5);
  width: 60px;
  height: 60px;
  transition: all 0.3s ease;
}

.cta span {
  top: 13px;
  left: 15px;
  position: relative;
  font-size: 25px;
  font-weight: 600;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 15px;
  left: 18px;
  margin-left: 10px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 180px; /* Cambiado de 14vw a 180px en width */
  background: var(--primary);
}

.cta:hover svg {
  transform: translateX(0);
  stroke: var(--background);
}

.cta:hover span {
  transition: ease 0.45s;
  color: var(--background);
}

.cta:active {
  transition: ease 0.5s;
  transform: scale(0.96);
}

#overallinfo {
  width: 90vw;
  display: flex;
}

#infoimg {
  top: 700px;
  width: 29vw;
  height: auto;
  padding: 0 5vw 0 15vw;
  position: absolute;
  z-index: 100;
}

.lineimg {
  width: 70px;
  height: 7.5px;
  padding: 0;
}

#infotxt {
  padding: 10vh 0 18vh 50vw;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--primary);
  line-height: 1;
  font-size: 4vh;
  padding: 2vh 0 2vh 0;
  margin: 0;
}

h2 span {
  font-family: 'Lora', serif;
  color: #462C2F;
}

#infotxt p {
  width: 33vw;
}

.main {
  position: absolute;
  bottom: -455px;
}

.btn {
  background-color: var(--primary);
  color: #fff;
  border-radius: 20px;
  position: relative;
  top: 4vh;
  font-weight: bold;
  align-items: center;
  min-width:150px;
  min-height: 47px;
  font-family: 'Lora', sans-serif;
  font-size: 1.3vw;
  border-radius: 100px;
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color : transparent;
  overflow: hidden;
  margin: 0;
}

  .btn::before, .btn::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background-color: var(--primary);
  z-index: -1;
  transition: all 400ms ease-in;
  }

  .btn:hover {
      color: #fff;
  }

  .btn::before {
      opacity: 0.1;
  }

  .btn::after {
      transition-delay: 0.2s;
  }

  .btn:hover::before, .btn:hover::after {
      top: 0;
  }

#backrectangle2 {
  height: 1120px;
  width: 90vw;
  opacity: 90%;
  background-color: var(--primary);
  position: absolute;
  z-index: -1;
  left: 0;
  margin: 0;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
}

#maintitle {
  padding: 20vh 0 0 15.5vw;
}

#maintitle h2 {
  color: #fff;
  padding-bottom: 0;
  position: relative;
  top: 15px;
}

#maintitle p {
  padding-top: 4vh;
  width: 75vh;
}

#maintitle img {
  position: absolute;
  left: 43vw;
  margin: 0;
  filter: brightness(100);
}

#coffeebeans {
  position: absolute;
  width: 25vw;
  height: auto;
  top: 1107px;
  left: 68vw;
}

.artgrid {
  display: grid;
  position: relative;
  top: -220px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 0;
  max-width: 60vh;
}

/* El código css para el grid de imágenes tuvo inspiración en https://programadorwebvalencia.com/css-galeria-grid-estilo-pinterest-o-masonry/ */

.artgrid {
  padding-left: 15.5vw;
  padding-top: 5vh;
  display: grid;
  grid-auto-rows: 30vh;
  max-width: 60vw;
  gap: 2vh;
  grid-auto-flow: dense;
}

.artgrid::before {
  content: ''; /* Espacio vacío 1 */
  grid-column: span 1;
  grid-row: span 1;
}

.artgrid::before {
  content: ''; /* Espacio vacío 2 */
  grid-column: span 2;
  grid-row: span 1;
}

@media screen and (max-width: 440px) {
  .artgrid {
    display: inline-flex;
    flex-direction: column;
    margin-top: 195px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .artgrid::before {
    display: none;
  }

  .artgrid .griditem {
    width: 70vw;
    margin: 0vh;
    padding: 0;
  }

  a .previewimage{
    width: 70vw;
    height: 150px;
    position: relative;
  }
}

.griditem:nth-child(11n+1) {
  grid-column: span 1;
  grid-row: span 2;
}

.griditem:nth-child(11n+4) {
  grid-column: span 2;
  grid-row: span 2;
}

.griditem:nth-child(11n+6) {
  grid-column: span 1;
  grid-row: span 1;
}

.griditem:nth-child(11n+7) {
  grid-column: span 1;
  grid-row: span 1;
}

.griditem:nth-child(11n+8) {
  grid-column: span 2;
  grid-row: span 2;
}

.griditem:nth-child(11n+9) {
  grid-row: span 3;
}

.previewimage{
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
  padding-bottom: 0;
  margin-bottom: 0;
}

.griditem {
  margin-bottom: 9vh;
}

.griditem .previewimage {
  filter: brightness(100%);
  transition: filter 0.3s ease;
}

.griditem:hover .previewimage {
  filter: brightness(70%);
}

.arttext {
  position: relative;
  bottom: 5px;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: #462C2F;
  opacity: 90%;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.arttext h5 {
  margin: 0;
  padding-left: 4px;
  font-weight: lighter;
  font-size: 2.3vh;
  font-family: 'Poppins', sans-serif;
  
}

.arttext p {
  padding-left: 4px;
  font-family: 'Lora', sans-serif;
  margin: 0;
  font-size: 2vh;
  font-weight: lighter;
}

.separator {
  color: white;
}

#menuicon {
  display: none;
  cursor: pointer;
  width: 25px;
  height: 20px;
  position: absolute;
  right: 50px;
}

#mobileitems {
  display: none;
}

#maintitle p {
  width: 38vw;
}

.subscribeinput button {
  left: -35px;
}

@media screen and (max-width: 1025px) {
  #backrectangle {
    padding: 34.5rem 90vw 0 0;
  }

  #infoimg {
    width: 330px;
    top: 620px;
    padding-left: 12.7vw;
  }

  .artgrid {
    max-width: 67vw;
    top: -200px;
  }
}

@media screen and (max-width: 440px) {

  #navlogo {
    padding-left: 1.7rem;
  }

  div h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5.3vh;
    margin: 5vh 0 0 0;
    padding: 0;
  }

  header {
    display:inline-flex;
    flex-direction: column-reverse;
  }

  header div {
    position: relative;
    top: -270px;
  }

  #backrectangle {
    width: 300rem;
    height: 17vh;
  }

  header #illustration {
    transform: rotate(-100deg);
    margin-left: 170px;
    width: 320px;
    top: -150px;
  }
  
  .cta {
    position: relative;
    top: 25px;
    width: 145px; 
  }
  
  .cta:before {
    width: 145px;
    height: 50px;
  }
    
  .cta:hover:before {
    width: 145px;
    height: 50px;
  }
  
  .cta span {
    font-size: 18px;
  }
  
  #infoimg {
    display: none;
  }

  #coffeebeans {
    width: 200px;
    top: 129vh;
    left: 170px;
  }

  #overallinfo {
    position: relative;
    top: -100px;
  }

  .lineimg {
    width: 70px;
    height: 7.5px;
    padding: 0;
  }

  #infotxt {
    padding: 0vh 0 0vh 10vw;
  }

  #infotxt p {
    width: 70vw;
  }

  .coffeebens {
    top: 770px;
  }

  #maintitle {
    position: relative;
    top: -90px;
  }

  #maintitle p {
    width: 70vw;
  }

  #maintitle img {
    display: none;
  }

  .artgrid {
    max-width: 75vw;
    top: -320px;
  }

  #backrectangle2 {
    width: 305rem;
    height: 120rem;
  }

  .main {
    display: none;
  }
}
